@* @model List<ExtranetQz.Areas.Kardex.Models.Movimiento> *@

@{
    ViewData["Title"] = "Kardex";
}

<h1>Movimientos de Inventario</h1>

@* <table class="table table-striped">
    <thead>
        <tr>
            <th>Clase Movimiento</th>
            <th>Código Material</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Lote</th>
            <th>Fecha Entrada</th>
            <th>Costo</th>
            <th>Importe</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Clase_Movimiento</td>
                <td>@item.Codigo_Material</td>
                <td>@item.Descripcion</td>
                <td>@item.Cantidad</td>
                <td>@item.Lote</td>
                <td>@item.Fecha_Entrada.ToString("yyyy-MM-dd")</td>
                <td>@item.Costo.ToString("C")</td>
                <td>@item.Importe.ToString("C")</td>
            </tr>
        }
    </tbody>
</table> *@
